<div class="form-container">
<form class="example-form" [formGroup]="announcementForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="matDesign">
        <mat-label>Title</mat-label>
        <input matInput placeholder="title" formControlName="title">
        <mat-error *ngIf="announcementForm.get('title').hasError('required')">Title is required</mat-error>
      </mat-form-field>
  
      <mat-form-field class="matDesign">
        <mat-label>Author</mat-label>
        <input matInput placeholder="author" formControlName="author">
        <mat-error *ngIf="announcementForm.get('author').hasError('required')">Author is required</mat-error>
      </mat-form-field>
  
      <mat-form-field class="matDesign">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="message" formControlName="message"></textarea>
        <mat-error *ngIf="announcementForm.get('message').hasError('required')">Message is required</mat-error>
      </mat-form-field>
  
      <mat-form-field class="matDesign">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categorySelected">
          <mat-option *ngFor="let category of listOfCategories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="announcementForm.get('categorySelected').hasError('required')">Category is required</mat-error>
      </mat-form-field>
  
      <mat-form-field class="matDesign">
        <mat-label>Image</mat-label>
        <input matInput placeholder="image" formControlName="imageUrl">
        <mat-error *ngIf="announcementForm.get('imageUrl').hasError('required')">Image URL is required</mat-error>
        <mat-error *ngIf="announcementForm.get('imageUrl').hasError('pattern')">Invalid image URL</mat-error>
      </mat-form-field>
    <div class="button-container">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit">Submit</button>
        <button mat-raised-button color="primary" routerLink="/">
            Cancel
        </button>
    </div>
</form>
</div>